<div class="publications">
  <h2>selected publications <a href="https://scholar.google.com/citations?hl=en&user=EHJLH40AAAAJ&view_op=list_works&sortby=pubdate">[full list]</a></h2>
  <br>
  <br>
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
